@model IEnumerable<eventHub.Models.EventViewer>

@{
    ViewData["Title"] = "Polecane Wydarzenia";
}

<h1>Wydarzenia, które mogą Cię zainteresować</h1>
<hr />

@if (Model.Any())
{
    foreach (var eventview in Model)
    {
        <h3>@eventview.Event.Title</h3>
        <p>Opis: @eventview.Event.Description</p>
        <p>Data rozpoczęcia: @eventview.Event.Start</p>
        <p>Lokalizacja: @eventview.Event.Location</p>
        <p>Wydarzenie dodane przez: @eventview.Event.User</p>

        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="Interested" asp-route-eventId="@eventview.Event.Id" method="post">
                @Html.AntiForgeryToken()
                <input type="submit" value="Jestem zainteresowany" class="btn btn-success" />
            </form>
        }
        else
        {
            <span>Zaloguj się, aby dodać wydarzenie do zainteresowanych.</span>
        }
        <p></p>
        <hr />
    }
}
else
{
    <p>Brak zainteresowań do wyświetlenia.</p>
}